:root {
  --black: #18161f;
  --gray: #787490;
  --white-ice: #d6d4e2;
  --whute: #ffffff;
  --blue-marine-: #00d9c0
}

html, body{
 color: var(--white-ice);

  font-family: 'Space Grotesk', sans-serif;
  background-image: url(../assents/blur.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}


#home{
  background-color: #18161f84;
  height: 100vh;
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  height: 100vh;
}
#vanta{
  z-index: -1;
  position: absolute;

  left: 0;
  right: 0;
  height: 100vh;
}

.nav__bar{
  display: flex;
  justify-content: space-between;
  width: 160px;
}

.nav__logo{
  font-weight: 700;
  font-size: 24px;
}

.banner__container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__title{
  font-weight: 700;
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: var(--black) 3px 2px 10px;
  padding: 20px;
}

.arrow__style{
  text-align: center;
}
.arrow__style svg{
  width: 40px;
  border-radius: 100%;
}
.arrow__style svg:active{
  stroke: var(--blue-marine-);

}
.frist__text{
  text-align: center;
  color: white;
  letter-spacing: 10px;
  opacity: 67%;
}

/* teste */
.container__test{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  height: 120px;
  min-height: 30%;
  flex-wrap: nowrap;

}